* {
  margin: 0;
  font-family: helvetica;
}
body{
  background: url("../stars-sky.jpg") no-repeat center;
  background-size: cover;
}
img{
  width:100%;
  /*position: fixed;*/
}
button{
  margin-right: 15px;
}
.tile {
  margin: 5px;
  border-radius: 5em;
  border: 2px solid #3F51B5;
  width: 6em;
  height: 6em;
  display: inline-block;
}

.container-fluid {
  width: 52%;
  /*height: 50%;*/
  margin-top: 4em;
}

.face-down {
  background-color: #4CAF50;
}

button {
  margin-top: 20px;
}


@media (min-width: 300px) and (max-width: 800px) {
.tile {
    margin: 5px;
    border-radius: 5em;
    border: 2px solid #3F51B5;
    width: 3em;
    height: 2.8em;
    display: inline-block;
  }
}

@media (min-width: 955px) and (max-width: 1110px) {
.container-fluid {
    width: 60%;
    /* height: 50%; */
    margin-top: 4em;
  }
}






